certifi==2021.5.30
chardet==4.0.0
idna==2.10
pyTelegramBotAPI==3.7.9
requests==2.25.1
urllib3==1.26.5

if __name__ == '__main__':
    n = int(input())
    student_marks = {}

    for i in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    query_scores = student_marks[query_name]
    print("{0:.2f}".format(sum(query_scores)/(len(query_scores))))

